<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Contacts app</h1>
        <%= yield %>
        <div class="footer" >Copyright2019</div>
    </body>
</html>