<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Trivia game: countries</h1>
        <%= yield %>
        <div class="footer" >Copyright 2019</div>
    </body>
</html>