<form action="/owners" method="post">
    <input type="text" name="first_name"  placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="submit" value="Save">
 </form>